@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@700 & family= Roboto:wght@400;500;700;900 & display=swap');
:root{
    --blue: #2196F3 ;
    --white: #FFFFFF ;
    --gray:  #757575 ;
    --black: #212121;
    --background-color: #2F303A;
    --backgroun-color-buttonport: #F5F4FA;

}
body
{
    font-family:'Roboto';'Raleway',
    sans-serif;
}
.logo{
    font-family: 'Raleway', sans-serif;
    color:var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}
.nav-bar{
    display: inline-block;
}
.menu {
    display: inline-flex;
    list-style: none;
}
.menu-link {
    color:var(--black);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    text-decoration: none;
}
.menu-link:hover{
    color: var(--blue)
}
.menu-link:focus{
    color: var(--blue)
}
.menu-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--gray);
    text-decoration: none;
}
.menu-contact:hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--blue);
    text-decoration: none;
}
.menu-contact:focus{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--blue);
    text-decoration: none;
}
.content {
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    color:  var(--white);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
}
.article-title {
    color: var(--white);
    font-size: 44px;
    height: 120px;
    text-align: center;
    text-transform: uppercase;
    width: 696px;
}
.button-main {
    align-items: center;
    background: rgb(33 150 243);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    color: var(--white);
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    margin-top: 10%;
    position: absolute;
    width: 261px;
}

.services {
    display: inline-flex;
    list-style: none;
    
}
.title-second {
text-align: center;    
}
.list-team {
    display: inline-flex;
    list-style: none;
}

.content-port {
    align-items: left;
    display: inline-block;
    justify-content: center;
   }
.port-category {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
 }
 .button-port {
    align-items: center;
    background-color: var(--backgroun-color-buttonport);
    border-style: none; 
    border-radius: 5px;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    margin-right: 30px;
    padding-left: 1%;
    padding-right: 1%;
    white-space: nowrap;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.button-port:hover{
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    color: var(--white);
    background: var(--blue);
     /* shadow-middle */
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     border-radius: 4px;
 }
 .button-port:focus{
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    color: var(--white);
    background: var(--blue);
     /* shadow-middle */
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     border-radius: 4px;
 }



.portfolio {
        display: inline-flex;
        list-style: none;  
    }

.footer {
     width: 1600px;
     height: 252px;
     left: 0px;
     top: 2097px;
     background:var(--background-color);
 }
    .address {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
        color: var(--white);
    }
    .footer-contact {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-contact:hover{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--blue);
        text-decoration: none;
    }
    .footer-contact:focus{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--blue);
        text-decoration: none;
    }