@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@700 & family= Roboto:wght@400;500;700;900 & display=swap');
:root{
    --blue: #2196F3 ;
    --white: #FFFFFF ;
    --gray:  #757575 ;
    --black: #212121;
    --background-color: #2F303A;
    --backgroun-color-buttonport: #F5F4FA;

}
*{ 
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Roboto', sans-serif;
    background-color: var(--white);
    color:var(--gray);
    font-size: 14px;
    letter-spacing: 0.03em;
    
}
.logo {
    font-family: 'Raleway', sans-serif;
    color:var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none; 
}
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
.section {
    padding: 94px 0;
  }

.section > h2 {
    color: var(--black);
    font-size: 32px;
    font-weight: 700px;
    padding: 30px 0;
    text-align: center;
  }
.no-top-pading {
    padding-top: 0;
  }
a{
    text-decoration: none;
  }

.header-nav{
  display: inline-flex;
  align-items: center;
  height: 80px;
  padding: 50px;
}

.nav-bar{
    display: inline-block;
    padding: 0px;
    margin-block: 16px;
    
}
.nav-bar .menu {
    display: inline-flex;
    list-style: none;
    gap:80px;
    
}

.menu-link {
    color:var(--black);
    font-weight: 500;
    line-height: 14px;
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    text-transform: capitalize;
    
}
.menu-link:hover{
    color: var(--blue)
}
.menu-link:focus{
    color: var(--blue)
}
.contact{
    display: inline-flex;
    list-style: none;
    gap: 80px;

}
.menu-contact{
    font-weight: 500;
    line-height: 14px;
    color: var(--gray);
    text-decoration: none;
    text-align: right;
    letter-spacing: 0.02em;
}
.contact-menu{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 100px;
    margin-left: 100px;
}
.menu-contact:hover{
    font-weight: 500;
    line-height: 16px;
    color: var(--blue);
    text-decoration: none;
}
.menu-contact:focus{
    font-weight: 500;
    line-height: 16px;
    color: var(--blue);
    text-decoration: none;
}
.content {
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    color:  var(--white);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
}
.content-title {
    color: var(--white);
    font-size: 44px;
    height: 120px;
    text-align: center;
    text-transform: uppercase;
    width: 696px;
}
.button-main {
    align-items: center;
    background: rgb(33 150 243);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    color: var(--white);
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    margin-top: 1%;
    width: 261px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 30px 60px;
    flex-grow: 1;  
}
.services li{
    width: 240px;
}
.services li .services-title{
  height: 50px;
  text-transform: uppercase;
  color: var(--black);
}
.services li .services-text{
    color: var(--gray);
    font-size: 400;
}

.title-second {
    color: var(--black);
    font-size: 32px;
    font-weight: 700px;
    padding: 30px 0;
    text-align: center;
}
.what-we-do{
    list-style: none;
    display: flex;
    width: 360px;
    align-items: center; 
    padding: 0% 7%;
    }
.we-do{
    margin-right: 20px;
    }

.our-team{
    background-color:var(--backgroun-color-buttonport);
    padding-bottom: 30px;
}
.list-team {
    display: inline-flex;
    list-style: none;
    gap: 30px;
    list-style: none;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.card-team{
    background: var(--white);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.team-title{
    margin: 20px 0 10px 0;
}
.card-team p {
    margin-bottom: 30px;
}
.portfolio{
    align-items: center;
}
.content-port {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    margin-bottom: 30px;
}
   
.port-category {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 56px;
 }
 .button-port {
    align-items: center;
    align-content: center;
    display: block;
    background-color: var(--backgroun-color-buttonport);
    border-style: none; 
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(238 238 238);
    margin: 30px;
    padding-left: 1%;
    padding-right: 1%;
    white-space: nowrap;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 80px;
    height: 38px;
    left: 495px;
    top: 174px;
    

}
.button-port:hover{
    width: 80px;
    height: 38px;
    left: 495px;
    top: 174px;
    color: var(--white);
    background: var(--blue);
     /* shadow-middle */
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     border-radius: 4px;
 }
 .button-port:focus{
    width: 80px;
    height: 38px;
    left: 495px;
    top: 174px;
    color: var(--white);
    background: var(--blue);
     /* shadow-middle */
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     border-radius: 4px;
 }

.port{
    display: block;
    list-style: none;
}

.portfolio {          
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    columns: 3;
    gap: 30px;
    width: 1200px;
    margin-left: 70px;
    margin-bottom: 40px;

    }
.card-port h4 {
   color:var(--black);
   padding: 15px;
}
.card-port p{
    color: var(--gray);
    font-size: 16px;
    padding: 15px;
}
.card-port{
    
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    
}
.card-port:focus{
    background: var(--white);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 0px 0px;
    text-align: center;
}

.footer {
     background:var(--background-color);
     padding: 94px;
          
 }
 address ul {
    list-style: none;
  }
.address {
        font-weight: 400;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
        color: var(--white);

    }
    .footer-contact {
        font-weight: 400;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        
    }
 .footer-contact:hover{
        font-weight: 500;
        line-height: 16px;
        color: var(--blue);
        text-decoration: none;
    
    }
 .footer-contact:focus{
        font-weight: 500;
        line-height: 16px;
        color: var(--blue);
        text-decoration: none;
    }